body {
  padding: 10px;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background: url("../img/fondo.jpg");
  background-size: cover;
}
h1,
h3 {
  font-size: 3vw;
  text-align: center;
  color: white !important;
  margin-bottom: 25px !important;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.row {
  height: 50% !important;
  margin-bottom: 5%;
}
@media screen and (min-width: 991px) {
  .container h3 {
    font-size: 1vw;
  }
}
@media screen and (max-width: 990px) {
  .container h3 {
    font-size: 2vw;
    margin-bottom: 15px !important;
  }
  .col {
    margin: 10px;
    height: 180px;
  }
}
@media screen and (max-width: 768px) {
  .container h3 {
    font-size: 2vw;
    margin-bottom: 15px !important;
  }
  .col {
    margin: 5px;
    height: 130px;
  }
}
.card {
  border: none !important;
}
div {
  background-color: transparent !important;
}
.img-fluid {
  border-radius: 10px !important;
  -webkit-transition: all 0.3s;
  -webkit-filter: none;
  -moz-transition: all 0.3s;
  -moz-filter: none;
  -ms-transition: all 0.3s;
  -ms-filter: none;
  -o-transition: all 0.3s;
  -o-filter: none;
  transition: all 0.3s;
  filter: none;
}
#desenfoque img:hover {
  -webkit-filter: blur(10px);
  -moz-filter: blur(10px);
  -ms-filter: blur(10px);
  -o-filter: blur(10px);
  filter: blur(10px);
}
#grises img:hover {
  -webkit-filter: grayscale(0.8);
  -moz-filter: grayscale(0.8);
  -ms-filter: grayscale(0.8);
  -o-filter: grayscale(0.8);
  filter: grayscale(0.8);
}
#sepia img:hover {
  -webkit-filter: sepia(1);
  -moz-filter: sepia(1);
  -ms-filter: sepia(1);
  -o-filter: sepia(1);
  filter: sepia(1);
}
#brillo img:hover {
  -webkit-filter: brightness(3);
  -moz-filter: brightness(3);
  -ms-filter: brightness(3);
  -o-filter: brightness(3);
  filter: brightness(3);
}
#contraste img:hover {
  -webkit-filter: contrast(3.5);
  -moz-filter: contrast(3.5);
  -ms-filter: contrast(3.5);
  -o-filter: contrast(3.5);
  filter: contrast(3.5);
}
#tono img:hover {
  -webkit-filter: hue-rotate(260deg);
  -moz-filter: hue-rotate(260deg);
  -ms-filter: hue-rotate(260deg);
  -o-filter: hue-rotate(260deg);
  filter: hue-rotate(260deg);
}
#negativo img:hover {
  -webkit-filter: invert(1);
  -moz-filter: invert(1);
  -ms-filter: invert(1);
  -o-filter: invert(1);
  filter: invert(1);
}
#saturacion img:hover {
  -webkit-filter: saturate(5);
  -moz-filter: saturate(5);
  -ms-filter: saturate(5);
  -o-filter: saturate(5);
  filter: saturate(5);
}
#opacidad img:hover {
  opacity: 0.5;
}
#sombra img:hover {
  -webkit-filter: drop-shadow(5px 5px 10px #ff1e0d);
  -moz-filter: drop-shadow(5px 5px 10px #ff1e0d);
  -ms-filter: drop-shadow(5px 5px 10px #ff1e0d);
  -o-filter: drop-shadow(5px 5px 10px #ff1e0d);
  filter: drop-shadow(5px 5px 10px #ff1e0d);
}
#escala img:hover {
  -webkit-transform: scale(1.5);
  -moz-transform: scale(1.5);
  -ms-transform: scale(1.5);
  -o-transform: scale(1.5);
  transform: scale(1.5);
}
#mover img:hover {
  -webkit-transform: translate(-100px, 100px);
  -moz-transform: translate(-100px, 100px);
  -ms-transform: translate(-100px, 100px);
  -o-transform: translate(-100px, 100px);
  transform: translate(-100px, 100px);
}

#rotar img:hover {
  -webkit-transform: rotate(600deg);
  -moz-transform: rotate(600deg);
  -ms-transform: rotate(600deg);
  -o-transform: rotate(600deg);
  transform: rotate(600deg);
}
#perspectiva img:hover {
  -webkit-transform: skew(30deg, 25deg);
  -moz-transform: skew(30deg, 25deg);
  -ms-transform: skew(30deg, 225deg);
  -o-transform: skew(30deg, 75deg);
  transform: skew(30deg, 25deg);
}
#mixdos img:hover {
  -webkit-transform: scale(1, 1.5);
  -webkit-filter: hue-rotate(300deg);
  /* -moz-transform:scale(1.2) rotate(-25deg);
    -moz-filter:sepia(1);
    -ms-transform:scale(1.2) rotate(-25deg);
    -ms-filter:sepia(1);
    -o-transform:scale(1.2) rotate(-25deg);
    -o-filter:sepia(1);
    transform:scale(1.2) rotate(-25deg);
    filter:sepia(1);*/
}
