body {
  padding: 10px;
}
h2{
  text-align: center;
  margin: 2rem;
}
h3 {
  font-size: 1rem;
  text-align: center;
  color: black !important;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
#desenfoque img:hover {
  -webkit-filter: blur(10px);
  -moz-filter: blur(10px);
  -ms-filter: blur(10px);
  -o-filter: blur(10px);
  filter: blur(10px);
}
#grises img:hover {
  -webkit-filter: grayscale(0.8);
  -moz-filter: grayscale(0.8);
  -ms-filter: grayscale(0.8);
  -o-filter: grayscale(0.8);
  filter: grayscale(0.8);
}
#sepia img:hover {
  -webkit-filter: sepia(1);
  -moz-filter: sepia(1);
  -ms-filter: sepia(1);
  -o-filter: sepia(1);
  filter: sepia(1);
}
#brillo img:hover {
  -webkit-filter: brightness(1.5);
  -moz-filter: brightness(1.5);
  -ms-filter: brightness(1.5);
  -o-filter: brightness(1.5);
  filter: brightness(1.5);
}
#contraste img:hover {
  -webkit-filter: contrast(3.5);
  -moz-filter: contrast(3.5);
  -ms-filter: contrast(3.5);
  -o-filter: contrast(3.5);
  filter: contrast(3.5);
}
#tono img:hover {
  -webkit-filter: hue-rotate(260deg);
  -moz-filter: hue-rotate(260deg);
  -ms-filter: hue-rotate(260deg);
  -o-filter: hue-rotate(260deg);
  filter: hue-rotate(260deg);
}
#negativo img:hover {
  -webkit-filter: invert(1);
  -moz-filter: invert(1);
  -ms-filter: invert(1);
  -o-filter: invert(1);
  filter: invert(1);
}
#saturacion img:hover {
  -webkit-filter: saturate(5);
  -moz-filter: saturate(5);
  -ms-filter: saturate(5);
  -o-filter: saturate(5);
  filter: saturate(5);
}
#opacidad img:hover {
  opacity: 0.4;
}
#sombra img:hover {
  -webkit-filter: drop-shadow(5px 5px 10px #ff1d0dd5);
  -moz-filter: drop-shadow(5px 5px 10px #ff1d0dd5);
  -ms-filter: drop-shadow(5px 5px 10px #ff1d0dd5);
  -o-filter: drop-shadow(5px 5px 10px #ff1d0dd5);
  filter: drop-shadow(5px 5px 10px #ff1d0dd5);
}
#escala img:hover {
  -webkit-transform: scale(1.5);
  -moz-transform: scale(1.5);
  -ms-transform: scale(1.5);
  -o-transform: scale(1.5);
  transform: scale(1.5);
}
#mover img:hover {
  -webkit-transform: translate(-80px, 100px);
  -moz-transform: translate(-80px, 100px);
  -ms-transform: translate(-80px, 100px);
  -o-transform: translate(-80px, 100px);
  transform: translate(-80px, 100px);
}

#rotar img:hover {
  -webkit-transform: rotate(100deg);
  -moz-transform: rotate(100deg);
  -ms-transform: rotate(100deg);
  -o-transform: rotate(100deg);
  transform: rotate(100deg);
}
#perspectiva img:hover {
  -webkit-transform: skew(10deg, 25deg);
  -moz-transform: skew(10deg, 25deg);
  -ms-transform: skew(10deg, 225deg);
  -o-transform: skew(10deg, 75deg);
  transform: skew(10deg, 25deg);
}
#mixdos img:hover {
  -webkit-transform: scale(1, 1.5);
  -moz-transform: scale(1, 1.5);
  -ms-transform: scale(1, 1.5);
  -o-transform: scale(1, 1.5);
  transform: scale(1, 1.5);
  -webkit-filter: hue-rotate(300deg);
  -moz-filter: hue-rotate(300deg);
  -ms-filter: hue-rotate(300deg);
  -o-filter: hue-rotate(300deg);
  filter: hue-rotate(300deg); 
}
footer p{
  text-align: center;
  padding: 1rem 0 0 0 ;
}
@media screen and (min-width: 991px) {
  .container h3 {
    font-size: 1.2vw;
  }
}
@media screen and (max-width: 990px) {
  .container h3 {
    font-size: 4vw;
   
  }
  .col {
    margin: 10px;
    height: 180px;
  }
}
@media screen and (max-width: 768px) {
  .container h3 {
    font-size: 4vw;
  }
  .col {
    margin: 5px;
    height: 130px;
  }
}
